@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Merriweather+Sans&family=Plus+Jakarta+Sans:wght@700&family=Rubik&display=swap');
*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
/*  font-family: 'Akshar', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
*/
font-family: 'Akshar', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=file]::file-selector-button {
display: none;
visibility: hidden;

}
